*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2{
    color:white;
    background-color:crimson;
    padding:6rem;
}

ul{
    padding: 3rem;
    background-color: aqua;
    color: black;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}